---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <!-- Header -->
  <section class="text-center">
    <h1 class="text-4xl font-bold text-gray-900 mb-4">Welcome to Naybr</h1>
    <p class="text-lg text-gray-700 mb-8">Bored and want to learn something new? <br>Your naybrs feel the same way. <br>Meet up and start learning today!</p>
    <!-- <a href="/about" class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-500">Learn More About Us</a> -->
  </section>

  <!-- How it works -->

  <!-- Features -->

  <!-- What is Naybr -->

  <!-- Success stories -->

  <!-- Meet the team -->
</Layout>