<footer class="bg-gray-800 text-white w-full">
  <div class="flex items-center space-x-30">

    <div class="p-5">
      <img src="/naybr-dark.svg" alt="Naybr Logo"  />
    </div>

    <!-- Info Sections -->
      <!-- Contact Section -->
      <div >
        <h3 class="text-3xl mb-2 font-bold">Contact</h3>
        <a
          href="mailto:info@naybr.dev"
          class="hover:underline hover:text-gray-300"
        >
          info@naybr.dev
        </a>
      </div>

      <!-- Media Section -->
      <div >
        <h3 class="text-3xl mb-2 font-bold">Media</h3>
        <a
          href="https://linkedin.com/company/naybr"
          target="_blank"
          class="hover:text-gray-300"
        >
          <i class="fab fa-linkedin text-xl"></i>
        </a>
      </div>
    
  </div>

  <!-- Divider Line and Rights Text -->
  <div class="border-t border-white">
    &copy; 2025 Naybr. All Rights Reserved.
  </div>
</footer>
